.background-ul {
    background-color: #C2EB78;
}

.icon-md {
    max-height:150px;
    width:auto;
}

.btn-margin {
	margin-top: 10px;
	height: 80px;
	width: 100%;
}

.btn {
	border-radius: 0px;
}

.form-control {
	border-radius: 0px;
}

.app-header {
  border-radius: 0;
  position: fixed;
}

.navbar-nav {
	border-radius: 100px;
	border-color: #FFFFFF;
	position: fixed;
}

.white {
	background-color: #FFFFFF !important;
}